<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/admin.css"/>
    <title>Admin</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Nandi</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">Users</a></li>
            <li><a href="#">Notifications</a></li>
            <li><a href="admin.html">Logout</a></li>
            </ul>
        </div>
    </nav>

    <main>
        <ul>

            <li style="margin-bottom: 40px">
                <div class="row user" style="background-color: white; border-bottom: solid pink 2px;">
                    <div class="col s1 m1">
                        <p>id</p>
                    </div>
                    <div class="col s12 m1">
                        <img src="https://cdn.dribbble.com/users/312581/screenshots/1676038/female-placeholder_1x.png" alt="id"/>
                    </div>
                    <div class="col s12 m3">
                        <p>Pseudo</p>
                    </div>
                    <div class="col s12 m2">
                        <p>Name</p>
                    </div>
                    <div class="col s12 m2">
                        <p>Email</p>
                    </div>
                    <div class="col s12 m2">
                        <p>Number</p>
                    </div>
                    <div class="col s12 m1">
                        <p>Verified ?</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="row user">
                    <div class="col s1 m1">
                        <p>1</p>
                    </div>
                    <div class="col s12 m1">
                        <img src="" alt="id"/>
                    </div>
                    <div class="col s12 m3">
                        <p>Mamiton</p>
                    </div>
                    <div class="col s12 m2">
                        <p>Oliwo Ikiria</p>
                    </div>
                    <div class="col s12 m2">
                        <p>imani@register.com</p>
                    </div>
                    <div class="col s12 m2">
                        <p>22 8456 14 3</p>
                    </div>
                    <div class="col s12 m1">
                        <p><i class="fa fa-times" style="color: red; cursor:pointer"></i></p>
                    </div>
                </div>
            </li>

            <li>
                    <div class="row user">
                        <div class="col s1 m1">
                            <p>2</p>
                        </div>
                        <div class="col s12 m1">
                            <img src="https://image.pbs.org/poster_images/assets/t6p3e694ug686iptefcn.png.resize.710x399.png" alt="id"/>
                        </div>
                        <div class="col s12 m3">
                            <p>Eliane</p>
                        </div>
                        <div class="col s12 m2">
                            <p>Iziwa Tamue</p>
                        </div>
                        <div class="col s12 m2">
                            <p>nina@hermail.com</p>
                        </div>
                        <div class="col s12 m2">
                            <p>22 7895 44 7</p>
                        </div>
                        <div class="col s12 m1">
                            <p><i class="fa fa-check" style="color: green; cursor:pointer"></i></p>
                        </div>
                    </div>
                </li>

                <li>
                        <div class="row user">
                            <div class="col s1 m1">
                                <p>3</p>
                            </div>
                            <div class="col s12 m1">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrc6Q1FvIifY097t3KEcQbTs2XUTBItLBvfyY0WNhoibR0TVV0" alt="id"/>
                            </div>
                            <div class="col s12 m3">
                                <p>Hope</p>
                            </div>
                            <div class="col s12 m2">
                                <p>Olivia Croc</p>
                            </div>
                            <div class="col s12 m2">
                                <p>vialie@riles.com</p>
                            </div>
                            <div class="col s12 m2">
                                <p>22 9512 52 4</p>
                            </div>
                            <div class="col s12 m1">
                                <p><i class="fa fa-times" style="color: red; cursor:pointer"></i></p>
                            </div>
                        </div>
                    </li>

                    <li>
                            <div class="row user">
                                <div class="col s1 m1">
                                    <p>4</p>
                                </div>
                                <div class="col s12 m1">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuBRCcku-I9-xkW_TCZzttZjTRp04o1q_avfeH3I-UrIbGhsJ-" alt="id"/>
                                </div>
                                <div class="col s12 m3">
                                    <p>Pomme</p>
                                </div>
                                <div class="col s12 m2">
                                    <p>Rap Izulue</p>
                                </div>
                                <div class="col s12 m2">
                                    <p>keni@hadoken.com</p>
                                </div>
                                <div class="col s12 m2">
                                    <p>22 6785 82 1</p>
                                </div>
                                <div class="col s12 m1">
                                    <p><i class="fa fa-check" style="color: green; cursor:pointer"></i></p>
                                </div>
                            </div>
                        </li>

                        <li>
                                <div class="row user">
                                    <div class="col s1 m1">
                                        <p>5</p>
                                    </div>
                                    <div class="col s12 m1">
                                        <img src="https://cdn0.iconfinder.com/data/icons/avatars-3/512/avatar_fashion_girl-512.png" alt="id"/>
                                    </div>
                                    <div class="col s12 m3">
                                        <p>Vitoire</p>
                                    </div>
                                    <div class="col s12 m2">
                                        <p>Ampo Serre</p>
                                    </div>
                                    <div class="col s12 m2">
                                        <p>ado@mundo.com</p>
                                    </div>
                                    <div class="col s12 m2">
                                        <p>22 6664 74 9</p>
                                    </div>
                                    <div class="col s12 m1">
                                        <p><i class="fa fa-check" style="color: green; cursor: pointer"></i></p>
                                    </div>
                                </div>
                            </li>

                            <li>
                                    <div class="row user">
                                        <div class="col s1 m1">
                                            <p>6</p>
                                        </div>
                                        <div class="col s12 m1">
                                            <img src="https://image.pbs.org/poster_images/assets/guy7co7w7j238lvxfkpo.png.resize.710x399.png" alt="id"/>
                                        </div>
                                        <div class="col s12 m3">
                                            <p>Amour</p>
                                        </div>
                                        <div class="col s12 m2">
                                            <p>Jaden Imiari</p>
                                        </div>
                                        <div class="col s12 m2">
                                            <p>milkyway@laposte.com</p>
                                        </div>
                                        <div class="col s12 m2">
                                            <p>22 6554 47 9</p>
                                        </div>
                                        <div class="col s12 m1">
                                            <p><i class="fa fa-times" style="color: red; cursor: pointer"></i></p>
                                        </div>
                                    </div>
                                </li>
        </ul>
        
    </main>
   
</body>
</html>